<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^public/ - [END]

    RewriteCond %{DOCUMENT_ROOT}/binom-tools/public/$1 -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/binom-tools/public/$1 -d
    RewriteRule ^(.*)$ public/$1 [END]

    RewriteRule ^(.*)$ public/index.php [END]
</IfModule>
